<div class="row background-home">
    <div class="text_image">    
        <h1 class="taille_h1"><u>Hôtels de Prestige</u></h1>
        <h2>Sélection d'exeption</h2>
    </div>
</div>

<div class="col-xs-12 text-center">
    <div class="col-xs-12 col-md-3 text-center"></div>
    <div class="col-xs-12 col-md-2 text-center">
        <div class="panel panel-success panel-pricing">
            <div class="panel-body text-center">
                <span class="glyphicon glyphicon glyphicon-star-empty ico_taille" aria-hidden="true"></span>
                <h3>Qualité</h3>
                <p>Des hôtels choisis pour vous, selon des critères d'exception</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-2 text-center">
        <div class="panel panel-success panel-pricing">
            <div class="panel-body text-center">
                <span class="glyphicon glyphicon-euro ico_taille" aria-hidden="true"></span>
                <h3>Attractif</h3>
                <p>Des prix pour tous, pour un prestige garantie</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-2 text-center">
        <div class="panel panel-success panel-pricing">
            <div class="panel-body text-center">
                <span class="glyphicon glyphicon-globe ico_taille" aria-hidden="true"></span>
                <h3>Géolocalisation</h3>
                <p>Des hôtels dans tous les pays du monde</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3 text-center"></div>
</div>
