@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";


.logo {
    height:50px;
}
.background-home {
    margin: 0 auto;
    padding: 0;
    background: asset-url('welcome.jpg') no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    height: 800px;
    margin-bottom: 30px;
}

.navbar-default {
    margin-bottom: 0px;
}

.text_image {
    color: white;
    text-align: center;
}

.taille_h1 {
    font-size: 60px;
}

.ico_taille {
    font-size: 60px;
}


.text-center {
    text-align: center;
}

.color_footer{
    background-color: #58a8e8;
    height: 250px;
}


.formulaire_center {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    width: 50em;

}

.formulaire_margin1 {
    margin-top:170px;
    margin-bottom:235px;
}

.formulaire_margin2 {
    margin-top:210px;
    margin-bottom:270px;
}

.table_hotel {
    margin-top: 100px;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;

}

th {
    background-color: #58a8e8;
    color: white;
}

.bloc {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 20px #555; 
    -webkit-box-shadow: 0 0 20px #555; 
    box-shadow: 0 0 20px #555; 
    width:600px;
}
.bloc h2 {
    margin:0;
    padding:5px;
    font-size:1.5em;
    color:#fff;
    background-color:#58a8e8;
    border:1px solid #8E98A4;
    border-bottom:0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

.sizeColumnfirst {
    width:50px;
}

.formulaire_margin2 {
    margin-top:170px;
    margin-bottom:195px;
}

.formulaire_margin3 {
    margin-top:160px;
    margin-bottom:170px;
}