<div class="formulaire_center formulaire_margin1">
  <div class="bloc">
      <h2>Modifier un hôtel</h2>
        <%= render 'form' %>
        <%= link_to 'Voir', @hotel %> |
        <%= link_to 'Retour', hotels_path %>
    </div>
</div>