    <div class="formulaire_center formulaire_margin5">
        <div class="bloc">
             <h2>Paiement</h2>
                <span>Merci, vous avez payé <strong><%= @reservation.totalprice %> $</strong>!</span>
        </div>
    </div>
        

